// HEADER
$headerHeight: 80px;
$headerBgColor: #000000;
// TITLE
$titleFont: 1.5rem;
$titleColor: red;
// SEARCHBAR
// MAIN
$mainBgColor: #434343;
// CARD
$cardBgColor: #000000;
$cardWidth: 342px;
$cardHeight: 500px;